<!doctype html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="/assets/styless.css">
</head>
<body>
	<% include partials/navigation.ejs %>
	<h1>welcome to the homepage everyone</h1>
	<p>we are just getting started</p>
</body>
</html>